@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Thin.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Thin.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-UltraLight.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-UltraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Light.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Medium.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-DemiBold.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-ExtraBold.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Black.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Black.woff2")
      format("woff2");
}
@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 950;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-ExtraBlack.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-ExtraBlack.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 1000;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Heavy.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Heavy.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Bold.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Regular.woff")
      format("woff"),
    url("./../../public/fonts/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Regular.woff2")
      format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: IRANYekanXFaNum;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  justify-content: baseline;
}
.content_section {
  max-width: 1322px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


